@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-square-banner-2013/css/bpg-square-banner-2013.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-square-banner-caps-2013/css/bpg-square-banner-caps-2013.min.css");


/* All Users Page */
#searchInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  outline: none;
  margin-bottom: 12px;
  margin-top: 20px;
}

#usersList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#usersList li a {
  margin-top: 10px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#usersList li a:hover:not(.header) {
  background-color: #eee;
}

.user-search {
  margin-top: 2rem;
}

.list-user {
  margin-top: 0.8rem;
}

.list-user .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
}
.list-user .user-name {
  margin-left: 1rem;
  font-size: 0.9rem;
}


/* User Page Styles */
.profile-header {
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.profile-header .user-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-header .user-text {
  flex: 1;
  margin-left: 32px;
}

.profile-header .user-text .main-status {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
  background: #2e6631;
  color: #ffffff;
}

.profile-header .user-text span {
  display: inline-block;
  margin-right: 16px;
}

.edit-btn {
  display: none;
  text-align: end;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.edit-btn-active {
  display: block;
}

/* Screens Lower than 768px */
@media (max-width: 768px) {
  .profile-header {
    height: 75px;
  }

  .profile-header .user-img {
    width: 75px;
    height: 75px;
  }
  
  .profile-header .user-text {
    flex: 1;
    margin-left: 9px;
  }

  .profile-header .user-text h4 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .profile-header .user-text span {
    font-size: 14px;
  }
}

/* Screens Lower than 768px */
@media (max-width: 420px) {
  .profile-header {
    height: auto;
    grid-template-columns: 1fr 1fr;
  }

  .profile-header .user-img {
    order: 1;
  }

  .profile-header .edit-btn {
    order: 2;
    justify-self: flex-end;
  }

  .profile-header .user-text {
    grid-column: 1/3;
    order: 3;
    margin: 12px 0 0;
  }
}



/* Card Form Styles */
#cardForm {
  margin-top: 1rem;
}

form .btn {
  width: calc(100% - 23px);
  margin: 0.5rem auto;
  padding: 6px 0;
}

.choices {
  height: 39px;
} 

.choices__inner {
  background-color: transparent;
  border-radius: 4px;
  padding: 5px 0 0 5px;
  height: 100%;
  overflow-y: scroll;
  min-height: auto;
}

.choices__input {
  background-color: transparent;
}

.row > div {
  padding-top: inherit;
  padding-bottom: inherit;
}