// ======= Head =======
include parts/head.pug
// End Head

// Template Main CSS File
link(href='/assets/css/style.css' rel='stylesheet')

body.body-bg
  // ======= Header =======
  include parts/header.pug
  // End Header

  main.constitution.container
    h1 ცხოვრება ტკივილის გარეშეს კონსტიტუცია
    section.wewant
      h2 მიზნები
      p 
      p 
      p 
      p 
      p 

    section
      h2 წევრობაზე
      ul

    section
      h2 მართვა
      ul

    section
      h2 შემოსავლები და ხარჯები.
      p 
      p 
      p 

    section
      h2 კონფლიქტები
      p 
      p 

    section
      h2 დაფუძნების დრო და დამფუძნებლები
      p 
      p 
 
  // ======= Footer =======
  include parts/footer.pug
  // End Footer

// ======= Scripts =======
include parts/scripts.pug
// End Scripts